* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    cursor: url("/img/patita_cursor20x20.png"), auto;
    font-family: "Fira Sans Condensed", sans-serif;
}
body {
    margin-top: 80px;
    position: relative;
    padding-bottom: 180px;
    min-height: 100vh; /* No tocar, sirve para anclar el footer*/
    background-color: rgb(202, 162, 239, 0.7);
    }


/*CSS DEL HEADER*/
.header {
    background-color: rgb(248, 228, 17);
    height: 80px;
    position: fixed; /*para que quede fija la barra de nav*/
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.logo {
    padding: 10px 10px;
    height: 80px;
    animation: animacionlogo 2s linear 1;
}
/*Animaciones del logo*/
@keyframes animacionlogo {
  0% {transform: rotate(0);}
  50% {transform: rotate(360deg);}
  80% {transform: rotate(360deg);}
  100% {transform: rotate(0);}
}

.logo2 {
    padding: 15px 0px 15px 0px;
    height: 80px;
    position: fixed;
}
/*barra de menu*/
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /*avaliable breakpoints , 576 768 1200 */
    margin: 0 auto; /*para que quede centrado en el navegador*/
}
.nav-link {
    color: black;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    margin-right: 20px;
    list-style: none; /*quita los puntos del listado*/
}

.nav-menu-item {
    font-size: 14px;
    margin: 0 5px;
    line-height: 80px;
    width: max-content; /*para que no me quite palabras si son mas de 2 al achicar*/
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background-color: rgb(202, 162, 239);
    transition: 0.5s;
}

.nav-menu-link-cat:hover,
.nav-menu-link-cat_active {
    background: none;
    color: rgb(202, 162, 239);
    transition: 0.2s;
}

/*menu desplegable para smartphone*/
.nav-toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0px 20px;
    line-height: 60px;
    display: none;
}
/* FIN DEL CSS DEL HEADER*/


/*//////////////////////PAG CONTACTO/////////////////////*/
#map {
	height: 300px;
	width: 370px;
}
.main_contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    /*background-image: url(img/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    color: #fff;
}

.container-form {
    width: 90%;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.welcome {
    margin-top: 20px;
    
    align-items: center;
    text-align: center;
    
    
    
}
.direccion{
    margin-top: 20px;
    text-align: left;
}

.direccion h4{
    border-left: 7px solid rgba(235, 104, 255, 0.602);
    padding-left: 0.3rem;
    color: rgb(146, 87, 158);
}

.video-container {
    height: 600px;
    width: 370px;
    overflow: hidden;
  }
  
.video-container video {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: lightyellow;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px #000;
}

.consultanos {
    padding: 2rem 0;
    color: rgb(146, 87, 158);
    font-weight: bolder;
    font-size: 18px;
}

.formulario input, .formulario select, .formulario option {
    width: 80%;
    display: inline-block;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: rgb(0, 0, 0) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: black;
}

textarea { 
    width: 80%; 
    height: 80px;
    background-color: transparent;
    color: black;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    gap: 10px;
    
}

input[type=submit]{
    background-color:rgb(248, 228, 17);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}
input[type=reset]{
    background-color:rgb(248, 228, 17);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover, [type=reset]:hover{
    background-color:  rgb(202, 162, 239);
    cursor: pointer;
}

/*//////////////////////FIN DE LA PAG CONTACTO/////////////////////*/



/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
    background-color: rgb(202, 162, 239);
    width: 100%;
    height: 180px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 30px;

}
.footer-texto {
    font-size: 14px;
    font-style: italic;
    line-height: 45px;
    padding-right: 20px;
}
.copyright {
    background-color: rgb(176, 92, 169);
    width: 100%;
    padding: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
    word-spacing: 2px;
}
.contenedor-redes-sociales {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.icono-redes {
    position: relative;
    font-size: 0px;
    width: 40px;
    height: 42px;
    margin: 20px;
    border-radius: 50%;
    transition: all 0.5s;
}

.icono-redes:hover {
    background-color: rgb(146, 87, 158);
    box-shadow: 0px 0px 20px rgb(146, 87, 158);
}
.icono-redes:hover:nth-child(2) {
    background-color: rgb(146, 87, 158);
    box-shadow: 0 0 20px rgb(146, 87, 158);
}
.icono-redes:hover:nth-child(3) {
    background-color: rgb(146, 87, 158);
    box-shadow: 0 0 20px rgb(146, 87, 158);
}
.icono-redes:hover:nth-child(4) {
    background-color: rgb(146, 87, 158);
    box-shadow: 0 0 20px rgb(146, 87, 158);
}
.icono-redes i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
}

/*Boton de ir arriba*/
#button-up {
    width: 30px;
    height: 30px;
    background: rgb(146, 87, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 40px;
    transition: all 0.3s ease;
    transform: scale(0);
}
#button-up:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}
/*FIN DEL FOOTER*/



/*QUERY MODO SMARTPHONE*/
@media (max-width: 768px) {  

.header {
    height: 60px;
    flex-wrap: wrap;
}

.logo {
    padding: 0px 20px;
    height: 58px;
}

.logo2 {
    padding: 10px 0 10px 0px;
    height: 60px;
    left: 35%; /* centrado horizontalmente */
    transform: translateX(-50%);
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.nav-menu {
    flex-direction: column;
    align-items: center;
    background-color: rgb(176, 92, 169);
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 0px;
    height: calc(100% - 60px);
    overflow-y: auto; /*añadir scroll cuando se minimiza el menu*/
    left: 100%;
    transition: 0.4s;
}

.nav-menu-item {
    line-height: 60px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background: none;
    color: rgb(202, 162, 239);
}

.nav-toggle {
    display: block;
    cursor: pointer;
}
.nav-menu-visible {
    left: 0;
}
body {
    margin-top: 60px;
    position: relative;
    padding-bottom: 150px;
    font-size: 14px;
}

.main_contacto {
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }

.texto {
font-size: 14px;
}

footer {
    height: 160px;
    padding-top: 0px;

}

.footer-texto {
max-height: 80px;
font-size: 13px;
line-height: 60px;
}

/*Boton de ir arriba*/
#button-up {
    bottom: 39px;
    right: 32px;
    
}

}

